server:
  port: ${APP_PORT:8080}

spring:
  profiles:
    active: ${SPRING_PROFILE:dev}

  datasource:
    url: jdbc:postgresql://localhost:5433/${APP_DB_NAME:appdb}
    username: ${APP_DB_USER:appuser}
    password: ${APP_DB_PASS:apppass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true